* {
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 100vh;
    min-width: 360px;
    background-color: #2F373A;
    font-family: 'Quattrocento Sans', sans-serif;
    color: rgba(255, 255, 255, 0.95);
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

*::selection {
    background: rgba(255, 104, 104, 0.4);
}

a {
    text-decoration: none;
    color: inherit;
}

a svg path {
    transition: fill .2s ease-in;
}

a svg:hover path {
    fill: rgba(255, 104, 104, 0.5);
}

.card {
    width: 80%;
    height: 80%;
    margin: auto auto;
    max-width: 500px;
    max-height: 500px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    /*background-image: url('../images/georgesstpierre-m2.jpg');*/
    background-image: linear-gradient(rgba(43, 49, 52, 0.73), rgba(43, 49, 52, 0.73)), url('../images/georgesstpierre-m.jpg');
    /*background-image: linear-gradient(rgba(43, 49, 52, 0.73), rgba(43, 49, 52, 0.73)), url('../images/captjacksparrow-m.jpg');*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-flow: column;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}

.svg-quote--hidden {
    opacity: 0;
}

.quote {
    display: flex;
    flex-flow: column;
    width: 80%;
}

.quote__text {
    font-size: 28px;
}

.quote__citation {
    padding-top: 10px;
}

.quote__text--hidden {
    opacity: 0;
}

.quote__citation--hidden {
    opacity: 0;
}

.buttons__svg-tweet--hidden {
    opacity: 0;
}

.buttons__svg-random--hidden {
    opacity: 0;
}

.copyright {
    position: absolute;
    bottom: 10px;
    color: rgba(255, 255, 255, 0.75);
    transition-duration: 0.6s;
}

.card--intro {
    transition: opacity 0.25s ease-in;
    opacity: 1;
}

.card--hidden {
    opacity: 0;
}

.copyright--intro {
    transition: transform 0.25s ease-out 0.25s, opacity 0.25s ease-in 0.25s;
    opacity: 1;
    transform: none;
}

.copyright--hidden {
    transform: translateY(200%);
    opacity: 0;
}
