* {
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 100vh;
    min-width: 360px;
    background-color: #2F373A;
    font-family: 'Quattrocento Sans', sans-serif;
    color: rgba(255, 255, 255, 0.95);
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

*::selection {
    background: rgba(255, 104, 104, 0.4);
}

a {
    text-decoration: none;
    color: inherit;
    transition: color .2s ease-in;
}

a:hover {
    color: rgba(255, 104, 104, 0.75);
}

a svg path {
    transition: fill .2s ease-in;
}

a svg:hover path {
    fill: rgba(255, 104, 104, 0.5);
}

.card {
    width: 80%;
    height: 80%;
    margin: auto auto;
    max-width: 500px;
    max-height: 500px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    background-image: linear-gradient(rgba(43, 49, 52, 0.85), rgba(43, 49, 52, 0.85)), url('../images/robertdowneyjr-m.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-flow: column;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}

.svg-quote {
    transform: translateY(25%);
}

.quote {
    display: flex;
    flex-flow: column;
    width: 80%;
}

.quote__text {
    font-size: 28px;
}

.quote__text span {
    background-color: rgba(255, 104, 104, 0.4);
    line-height: 3rem;
    padding: 0.3rem;
    box-decoration-break: clone;
}

.quote__citation {
    padding-top: 10px;
}

.quote__citation span {
    background-color: rgba(255, 104, 104, 0.4);
    padding: 0 0.4rem;
    box-decoration-break: clone;
}

.credits {
    position: absolute;
    bottom: 10px;
    color: rgba(255, 255, 255, 0.6);
    transition-duration: 0.6s;
}
